<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ay.ayblog.dao.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.ay.ayblog.pojo.Category">
    <id column="CATEGORY_ID" jdbcType="INTEGER" property="categoryId" />
    <result column="CATEGORY_NAME" jdbcType="VARCHAR" property="categoryName" />
    <result column="CATEGORY_STATUS" jdbcType="VARCHAR" property="categoryStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    CATEGORY_ID, CATEGORY_NAME, CATEGORY_STATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where CATEGORY_ID = #{categoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from category
    where CATEGORY_ID = #{categoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="CATEGORY_ID" keyProperty="categoryId" parameterType="com.ay.ayblog.pojo.Category" useGeneratedKeys="true">
    insert into category (CATEGORY_NAME, CATEGORY_STATUS)
    values (#{categoryName,jdbcType=VARCHAR}, #{categoryStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="CATEGORY_ID" keyProperty="categoryId" parameterType="com.ay.ayblog.pojo.Category" useGeneratedKeys="true">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryName != null">
        CATEGORY_NAME,
      </if>
      <if test="categoryStatus != null">
        CATEGORY_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryStatus != null">
        #{categoryStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ay.ayblog.pojo.Category">
    update category
    <set>
      <if test="categoryName != null">
        CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryStatus != null">
        CATEGORY_STATUS = #{categoryStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where CATEGORY_ID = #{categoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ay.ayblog.pojo.Category">
    update category
    set CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
      CATEGORY_STATUS = #{categoryStatus,jdbcType=VARCHAR}
    where CATEGORY_ID = #{categoryId,jdbcType=INTEGER}
  </update>
</mapper>