<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ay.ayblog.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.ay.ayblog.pojo.User">
        <id column="USER_ID" jdbcType="INTEGER" property="userId"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="USER_PWD" jdbcType="VARCHAR" property="userPwd"/>
        <result column="USER_STATUS" jdbcType="VARCHAR" property="userStatus"/>
        <result column="USER_GENDER" jdbcType="VARCHAR" property="userGender"/>
        <result column="USER_AGE" jdbcType="INTEGER" property="userAge"/>
        <result column="USER_CTIME" jdbcType="TIMESTAMP" property="userCtime"/>
        <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail"/>
        <result column="USER_LAST_LOGIN" jdbcType="TIMESTAMP" property="userLastLogin"/>
    </resultMap>

    <select id="getUserById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from user
        where USER_ID = #{userId,jdbcType=INTEGER}
    </select>

    <select id="getUserbyName" resultMap="BaseResultMap">
        select *
        from user
        <where>
            USER_NAME = #{userName,jdbcType=VARCHAR}
            and USER_STATUS = 'A'
        </where>
    </select>

    <select id="getUserByIds" parameterType="java.util.List" resultType="com.ay.ayblog.pojo.User">
        select *
        from user
        where USER_ID in
        <foreach item="item" collection="userIds" separator="," open="(" close=")" index="">
            #{item, jdbcType=INTEGER}
        </foreach>
        and USER_STATUS = 'A'
    </select>

    <select id="getAllByUsers" resultType="com.ay.ayblog.pojo.User">
        select *
        from user
        where USER_STATUS = 'A'
    </select>

    <delete id="deleteUserById" parameterType="java.lang.Integer">
        delete
        from user
        where USER_ID = #{userId,jdbcType=INTEGER}
    </delete>

    <insert id="insert" keyColumn="USER_ID" keyProperty="userId" parameterType="com.ay.ayblog.pojo.User"
            useGeneratedKeys="true">
        insert into user (USER_NAME, USER_PWD, USER_STATUS,
                          USER_GENDER, USER_AGE, USER_CTIME,
                          USER_EMAIL, USER_LAST_LOGIN)
        values (#{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, #{userStatus,jdbcType=VARCHAR},
                #{userGender,jdbcType=VARCHAR}, #{userAge,jdbcType=INTEGER}, #{userCtime,jdbcType=TIMESTAMP},
                #{userEmail,jdbcType=VARCHAR}, #{userLastLogin,jdbcType=TIMESTAMP})
    </insert>

    <update id="updateUserById" parameterType="com.ay.ayblog.pojo.User">
        update user
        <set>
            <if test="userName != null">USER_NAME=#{userName}</if>
            <if test="userEmail != null">USER_EMAIL=#{userEmail}</if>
            <if test="userPwd != null">USER_PWD=#{userPwd}</if>
            <if test="userAge != null">USER_AGE=#{userAge}</if>
            <if test="userGender != null">USER_GENDER=#{userGender}</if>
            <if test="userCtime != null">USER_CTIME=#{userCtime}</if>
            <if test="userLastLogin != null">USER_LAST_LOGIN=#{userLastLogin}</if>
        </set>
        where USER_ID = #{userId}
    </update>

    <update id="updateUserDirty" parameterType="com.ay.ayblog.pojo.User">
        UPDATE USER
        SET user_status = 'D'
        WHERE USER_ID = #{userId,jdbcType=INTEGER}
    </update>

    <update id="updateUsersDirty" parameterType="java.util.List">
        UPDATE USER
        SET user_status = 'D'
        WHERE USER_ID in
        <foreach collection="userIds" index="index" item="item" separator="," open="(" close=")">
            #{item,javaType=INTEGER}
        </foreach>
    </update>

    <update id="updateUserInfoById">
        UPDATE USER
        <trim prefix="set" prefixOverrides="," suffix="where USER_ID=#{userId}">
            <if test="userName!=null">USER_NAME=#{userName}</if>
            <if test="userEmail!=null">USER_EMAIL=#{userEmail}</if>
            <if test="userAge!=null">USER_AGE=#{userAge}</if>
            <if test="userGender!=null">USER_GENDER=#{userGender}</if>
        </trim>
    </update>

    <update id="updateUserPwdById">
        UPDATE USER
        SET USER_PWD = #{userPwd}
        WHERE USER_ID = #{userId}
    </update>

    <update id="updateUserLastLoginTime">
        UPDATE USER
        SET USER_LAST_LOGIN = #{date}
        WHERE USER_ID = #{userId}
    </update>

    <delete id="deleteUserByIds" parameterType="java.util.List">
        delete from user where USER_ID in
        <foreach collection="userIds" index="index" item="item" separator="," open="(" close=")">
            #{item,javaType=INTEGER}
        </foreach>
    </delete>

</mapper>